<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Points Board || GUDLFT</title>
    </head>
    <body>
        <h2>Points Board</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <ul>
            {% for club in clubs %}<li>{{ club['name'] }}: {{ club['points'] }} Points</li>{% endfor %}
        </ul>
        <a href="{{ url_for('index) }}">Go Back</a>
    </body>
</html>
